    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Detalle de tarea</h4>
      </div> 
    <div class="card-header">
        <div class="row">
            <div class="col-md-3">
                <label>Id:&nbsp;</label> <b *ngIf="issue">{{issue.id}}</b>
            </div>
            <div class="col-md-3">
                <label>Iid:&nbsp;</label> <b *ngIf="issue">{{issue.iid}}</b>
            </div>
            <div class="col-md-3">
                <label>Proyecto:&nbsp;</label> <b *ngIf="issue">{{issue.project_id}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Titulo:&nbsp;</label> <b *ngIf="issue">{{issue.title}}</b>
            </div>
            <div class="col-md-6">
                <label>Descripcion:&nbsp;</label> <b *ngIf="issue">{{issue.description}}</b>
            </div>
            <div class="col-md-3">
                <label>Estado:&nbsp;</label> <b *ngIf="issue">{{issue.state}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Fecha Creación:&nbsp;</label> <b *ngIf="issue">{{issue.created_at | date:'dd/MM/yyyy H:mm:ss' }}</b>
            </div>
            <div class="col-md-4">
                <label>Fecha Actualizacion:&nbsp;</label> <b *ngIf="issue">{{issue.update_at | date:'dd/MM/yyyy H:mm:ss' }}</b>
            </div>
            <div class="col-md-4">
                <label>Fecha Cierre:&nbsp;</label> <b *ngIf="issue">{{issue.closed_at | date:'dd/MM/yyyy H:mm:ss' }} </b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Cerrado Por:&nbsp;</label> <b *ngIf="issue.closed_by">{{issue.closed_by.name}}</b>
            </div>            
            <div class="col-md-3">
                <label>Etiquetas:&nbsp;</label><ul><b *ngFor="let etiqueta of labels"><li>{{etiqueta}}</li></b></ul>
            </div>                
            <div class="col-md-3">
                <label>Milestone:&nbsp;</label> <b *ngIf="issue">{{issue.milestone}}</b>
            </div>
            <div class="col-md-3">
                <label>Usuarios asignados:&nbsp;</label><ul><b *ngFor="let usuario of issue.assignees"><li>{{usuario.name}}</li></b></ul>
            </div>            
        </div>
    </div>