<div class="card-header">
  <h4 class="my-0 font-weight-normal">Lista de tareas</h4>
</div> 
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Título</th>
      <th scope="col">Descripción</th>
      <th scope="col">Estado</th>
      <th scope="col">Creada</th>
    </tr>
  </thead>  
  <tbody>
    <tr *ngFor="let issue of issues" (click)="onSelect(issue)">
      <th scope="row">{{ issue.id }}</th>
      <td>{{ issue.title }}</td>
      <td>{{ issue.description }}</td>
      <td>{{ issue.state }}</td>
      <td>{{ issue.created_at | date:'dd/MM/yyyy H:mm' }}</td> <!--   -->
    </tr>
  </tbody>
</table>

<!-- <app-detalle-persona [persona]="personaSeleccionada"></app-detalle-persona> -->