<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Listado </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/new']" routerLinkActive="router-link-active" >Nuevo </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Estadísticas </a>
      </li>      
    </ul>
  </div>
</nav>
