<div class="row">
  <div class="col-12">
      <h4 class="mb-4 mt-0 font-weight-normal">Nueva issue</h4>
  </div>

  <div class="col-12">
    <p>
      <span>Título</span> <br />
      <input type="text" [(ngModel)]="issue.title" class="w-100" />
    </p>
  </div>
  <div class="col-12">
    <p class="mb-2">
      <span>Descripción</span> <br />
      <textarea [(ngModel)]="issue.description" class="w-100" rows="4"> </textarea>
    </p>
  </div>
  <div class="col-12">
    <p>
      <span>Asignar a</span> <br>
      <select multiple class="w-100" [(ngModel)]='issue.assignees'>
        <option *ngFor="let user of users" [value]="user.id">{{user?.name}}</option>
      </select>
    </p>
  </div>

  <div class="col-12 text-right">
    <button type="button" class="btn btn-info text-right" (click)="createIssue()"> Crear issue </button>
  </div>

  <div class="col-12 mt-3 avisos">
    <p class="bg-success text-white text-center p-3" *ngIf="msgSuccess">
      La nueva tarea se creó con éxito
    </p>
    <p class="bg-warning text-dark text-center p-3" *ngIf="msgError">
      Se produjo un error al crear la tarea, vuelva a intentarlo
    </p>
  </div>
</div>
