<section class="row">
  <div class="col-md-5" style="display: block">
    <canvas mdbChart
        [chartType]="chartTypePie"
        [datasets]="datasetsEstado"
        [labels]="labelsEstados"
        [colors]="colorsEstados"
        [options]="chartOptionsPie"
        [legend]="true"
        (chartHover)="estadoHovered($event)"
        (chartClick)="estadoClicked($event)">
    </canvas>
  </div>
  <div class="col-md-5" style="display: block">
    <canvas mdbChart
        [chartType]="chartTypeHor"
        [datasets]="datasetsAsignados"
        [labels]="labelsAsignados"
        [colors]="colorsAsignados"
        [options]="chartOptionsHor"
        [legend]="true"
        (chartHover)="asignadoHovered($event)"
        (chartClick)="asignadoClicked($event)">
    </canvas>
  </div>
</section>
